<template name="talent">
<div class="container">
    <h2 class="title thumbnail" style="padding:10px; float:left">OFFRES DE STAGE</h2>
    <div class="content" style="display:inline; float:left">
      <ul class="thumbnails border" style="width:auto">
        <a href="#">
          <li class="thumbnail span2">
            <h6>GOOGLE</h6>
            <div style="float:left">Web Developper</div> <img src="python.png" height="40px" width="40px" style="float:right">
            <p style="color:#f92672">1500€/mois</p><div style="float:left">PARIS, IDF</div> <div  style="float:right">01/07 - 30/08</div></p>
          </li>
        </a>
        <a href="#">
          <li class="thumbnail span2">
            <h6>TWITTER</h6>
            <div style="float:left">WEB DEVELOPPER</div> <img src="js.png" height="40px" width="40px" style="float:right">
            <p style="color:#f92672">1500€/mois</p>
            <p><div style="float:left">PARIS, IDF</div> <div  style="float:right">01/07 - 30/08</div></p>
          </li>
        </a>
        <a href="#">
          <li class="thumbnail span2">
            <h6>FACEBOOK</h6>
            <div style="float:left">WEB DEVELOPPER</div> <img src="html5.png" height="40px" width="40px" style="float:right">
            <p style="color:#f92672">1500€/mois</p>
            <p><div style="float:left">PARIS, IDF</div> <div  style="float:right">01/07 - 30/08</div></p>
          </li>
        </a>
      </ul>
    </div> <!-- content -->
        <div class="container vertical_menu border" style="display:inline; float:right">
      <ul class="nav nav-list span3">
        <li><img src="user.png" height="30px" width="30px"> <h3 style="color:#8F908A; display:inline">Malik Fassi Fihri<h3></li>
        <li><img src="skills.png" height="40px" width="40px"> <h5 style="color:#8F908A; display:inline">: </h5><img src="js.png" height="40px" width="40px"> <img src="html5.png" height="40px" width="40px"> <img src="python.png" height="40px" width="40px"> </li>
      </ul>
  </div> <!-- container -->
</template>