<template name="company">
  <div class="thumbnail text-center">Postes à pourvoir</div>
  <br>
  <div>
    <h3>Web developper</h3>
  <p style="margin:0 auto; height:auto">
    <p class="thumbnail span2" style="margin-left:50px">
      Malik Fassi Fihri <br>
      Score : 48 <br>       <img src="graph.png" height="50px" width="50px" style="float:left">
    </p> 
      <br>
    <p class="thumbnail span2" style="margin-left:50px">
      Emmanuel Vislbol <br>
      Score : 50 <br>       <img src="chart.png" height="50px" width="50px" style="float:left">
    </p>
    <br>
    <p class="thumbnail span2" style="margin-left:50px">
      Antoine Couderc<br>
      Score : 47 <br>  <img src="chart2.png" height="50px" width="50px" style="float:left"></p> 
</p>
  <br>
</div>
  <div>
    <h3>Business</h3>
  <p class="thumbnail span2" style="margin-left:50px">
      Vincent <br>
      Score : 50 <br> <img src="chart3.png" height="50px" width="50px" style="float:left">
  </p>
</div>
</template>