<template name="talent">
  <li class="thumbnail span2">
  <h6>GOOGLE</h6>
  <div style="float:left">Web Developper</div> <img src="python.png" height="40px" width="40px" style="float:right">
  <p style="color:#f92672">1500€/mois</p><div style="float:left">PARIS, IDF</div> <div  style="float:right">01/07 - 30/08</div></p>
  </li>
  <li class="thumbnail span2">
  <h6>TWITTER</h6>
  <div style="float:left">WEB DEVELOPPER</div> <img src="js.png" height="40px" width="40px" style="float:right">
  <p style="color:#f92672">1500€/mois</p>
  <p><div style="float:left">PARIS, IDF</div> <div  style="float:right">01/07 - 30/08</div></p>
  </li>
  </a>
  <a href="#">
  <li class="thumbnail span2">
  <h6>FACEBOOK</h6>
  <div style="float:left">WEB DEVELOPPER</div> <img src="html5.png" height="40px" width="40px" style="float:right">
  <p style="color:#f92672">1500€/mois</p>
  <p><div style="float:left">PARIS, IDF</div> <div  style="float:right">01/07 - 30/08</div></p>
  </li>
</template>