<template name="index">
	<div class='span4 thumbnail' style="float:left; margin:25px" >
		<a href="#">
			<h2 class="text-center">I'm a school</h2>
			<img src="school.png" width="200" height="200" style="margin-right:auto; margin-left:60px">
		</a>
	</div>
	<div class='span4 thumbnail' style="float:right; margin:25px">
		<a href="#">
			<h2 class="text-center">I'm a company</h2>
			<img src="company.png" width="200" height="200" style="margin-left:auto; margin-right:60px">
		</a>
	</div>
	<div class='span4 thumbnail' style="margin:0 auto; margin-top:25px; margin-left:15px">
		<a href="#">
			<h2 class="text-center">I'm a student</h2>
			<img class="text-center" src="student.png" width="200" height="200" style="margin:0 auto; margin-left:7\0px">
		</a>
	</div>
</template>