<template name="lateral-bar">
  <div class="container vertical_menu border" style="display:inline; float:right; position:fixed; top:40px; right:0px">
    <ul class="nav nav-list span3">
      <li><img src="user.png" height="30px" width="30px"> <h3 style="color:#8F908A; display:inline">Malik Fassi Fihri<h3></li>
      <li><img src="skills.png" height="40px" width="40px"> <h5 style="color:#8F908A; display:inline">: </h5><img src="js.png" height="40px" width="40px"> <img src="html5.png" height="40px" width="40px"> <img src="python.png" height="40px" width="40px"> </li>
    </ul>
  </div> 
</template>