<template name="nav-bar">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Talent.ly</a>
          <ul class="menu">
            <li><a href="./talent">Talent</li>
            <li><a href="./quizz">Quizz</li>
            <li><a href="./anonnces">Annonces</li>
          </ul>
          <ul class="nav pull-right">
            <li>
              {{loginButtons}}
            </li>
          </ul>
        </div>
      </div>
    </div> <!--navbar-->
  </template>
