<template name="quizz">
  <div class="thumbnail span2 text-center" style="position:fixed; top:50px; left:350px; width: auto">
    <div>TEST1</div>
    <img src="python.png" height="40px" width="40px">
    <div> Developper un programme qui resoud un sudoku</div>
    <form name="input" action="" method="get">
     Votre reponse: <input type="text" name="user">
     <input type="submit" value="Submit">
   </form>
   <div class="progress progress-info progress-striped">
    <div class="bar" style="width: 20%"></div>
  </div>
</div>
</template>